@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Chango|Oleo+Script+Swash+Caps|Sofia|Pacifico&display=swap');

body {
    background-color:white;
    background-image: url('../client/assets/svg/smally_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*:focus {
    outline: 0;
}

.title-logo {
    /* font-family: 'Chango', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Chango', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Sofia', cursive;
    font-family: 'Pacifico', cursive;
}
